<section class="footer">
  <div class="container">
    <div class="col-md-3 col-md-offset-1">
      <h2 class="gradient">
        We love pixels more than you.
      </h2>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div class="text-right">
        <h2 class="gradient">News from Whale?</h2>
        <form class="" action="index.html" method="post">
          <input type="text" name="email" placeholder="Email">
          <input type="submit" name="name" value="">
        </form>
      </div>
    </div>
  </div>
</section>
