<footer>
  <section class="content footer">
    <div class="container">
      <div class="col-md-4">
        <h2 class="gradient">
          We love pixels more than you.
        </h2>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h2 class="gradient">News from Whale?</h2>
        <form class="" action="index.html" method="post">
          <input type="text" name="email" placeholder="Email">
          <input type="submit" name="name" value="">
        </form>
      </div>
    </div>
  </section>

</footer>
