<footer>
  <section id="footer">
    <div class="container">
      <div class="col-sm-4">
        <div class="copyright">
          This is the internet. We do not copyright stuff.
        </div>
      </div>
      <div class="col-sm-4">
        <div class="icon">
          <object type="image/svg+xml" data="{{ 'splash.svg' | theme_image_url }}" id="footerLogo">
            Whale <!-- fallback image in CSS -->
          </object>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="copyright text-right">
          Whale Agency
        </div>
      </div>
    </div>
  </section>
  
</footer>
