<header>
  <div class="container zoom-out">
    <div class="col-xs-12 col-md-4 logo-holder">
      <div class="logo">
        <a href="http://sanderschekman.com">
          <object type="image/svg+xml" data="{{ 'logo_blue.svg' | theme_image_url }}" id="logo">
            Whale Agency<!-- fallback image in CSS -->
          </object>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 nav-menu top-menu-holder">
    </div>
  </div>
</header>
