<header>
  <div class="container">
    <div class="col-xs-12 col-md-4 logo-holder">
      <div class="logo">
        <a href="#home">
          <object type="image/svg+xml" data="{{ 'logo_blue.svg' | theme_image_url }}" id="logo">
            Whale <!-- fallback image in CSS -->
          </object>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 nav-menu top-menu-holder">
      <nav class="hidden-xs visible-lg ">
        <ul class="nav whitepage">
                <li class="active">
                  <a href="#projects" address="true">Projects</a>
                </li>
                <li>
                  <a href="#clients" address="true">Clients</a>
                </li>
                <li>
                  <a href="#services" address="true">Services</a>
                </li>
                <li>
                  <a href="#about" address="true">About</a>
                </li>
                <li>
                  <a href="#contact" address="true">Contact</a>
                </li>
              </ul>

      </nav>
  </div>


</header>
