<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-2 col-md-offset-1 logo-holder">
      <div class="logo">
        <a href="/index">
          <object type="image/svg+xml" data="{{ 'logo.svg' | theme_image_url }}" id="logo_white">
            Whale Agency
          </object>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 nav-menu top-menu-holder">
      <nav class="hidden-xs visible-lg ">
        <ul class="nav">
          <li>
            <a href="#jumbo" address="true">Home</a>
          </li>
          <li>
            <a href="#works" address="true">News</a>
          </li>
          <li>
            <a href="#grid-section" address="true">Projects</a>
          </li>
          <li>
            <a href="#clients" address="true">Clients</a>
          </li>
          <li>
            <a href="#services" address="true">Services</a>
          </li>
          <li>
            <a href="#about" address="true">About</a>
          </li>
          <li>
            <a href="#contact" address="true">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h1>LOGO</h1>
    </div>

    <div class="col-md-7">
      <div id="whale-nav">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">Home</li>
          <li>News</li>
          <li>Clients</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
