<div class="container zoom-out">
  <div class="row">

    <div class="col-xs-12 col-md-2 col-md-offset-1 logo-holder">
      <div class="logo">
        <a href="http://sanderschekman.com">
          <object type="image/svg+xml" data="{{ 'logo_blue.svg' | theme_image_url }}" id="logo">
            Whale Agency
          </object>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 nav-menu top-menu-holder">
    </div>

  </div>
</div>
