<div class="mosaic-holder">
  {% for card in contents.home_cards %}

    {% assign card_number = forloop.index %}

    {% if forloop.index == 6 of forloop.index == 9 %}
      {% assign smallcard = true %}
    {% else %}
      {% assign smallcard = false %}
    {% endif %}

    {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 or forloop.index == 10 %}
      <div class="col-md-3 {% if forloop.index == 4 or forloop.index == 7 %} middle-row {% endif %} no-margin">
    {% endif %}

    {% if card.video == true %}
      {% include 'card-video' with card: card, card_number: card_number, smallcard: smallcard %}
    {% elsif card.card_type == "Project" %}
      {% include 'card-project' with card: card, card_number: card_number, smallcard: smallcard %}
    {% else %}
      {% include 'card-post' with card: card, card_number: card_number, smallcard: smallcard %}
    {% endif %}

    {% if forloop.index == 3 or forloop.index == 6 or forloop.index == 9 or forloop.index == 12 %}
      </div>
    {% endif %}

  {% endfor %}
</div>
