// colors

$color-1: #4A90E2; // Mine Shaft
$color-2: #7b9d6f; // Highland
$color-3: #ffffff; // White
$color-4: #f8f8f8; // Alabaster

// fonts

$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Libre Baskerville', serif;
