.text-right { text-align: right; }
.text-left { text-align: left; }
.text-white { color: white; }
.text-half-white { color: rgba(255,255,255,.5); }
.home-slider .flexslider .flex-caption .small {
  font-size: 18pt;
  text-transform: none;
}
.home-slider .flexslider .flex-caption .big {
  font-size: 64pt;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  letter-spacing: 0.85px;
  text-transform: none;
}
