@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';

$grey: #585858;
$lightblue: #80BAFF;

body{
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color: $grey;
}

h1{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}

h2{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

h3{
  font-family: 'Helvetica Neue', sans-serif;
  color: $lightblue;
  font-size: 18px;
  margin-bottom: 25px;
}


.text-center{ text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-white { color: white; }
.text-half-white { color: rgba(255,255,255,.5); }
.home-slider .flexslider .flex-caption .small {
  font-size: 18pt;
  text-transform: none;
}
.home-slider .flexslider .flex-caption .big {
  font-size: 64pt;
  letter-spacing: 0.85px;
  text-transform: none;
}

.card {
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;

  &:before {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 200;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #222945;
    position: absolute;
    top: 0;
    opacity: 0.5
  }

  &:hover {
    cursor: pointer;
    &:before {
      opacity: 0;
    }
  }

  .card-date {
    display: inline-block;
    font-size: 10px;
    color: #b2b2b2;
  }

  .video-card {
    position: absolute;
    top: -50%;
    left: -70%;
    width: 200%;
    height: 200%;
    z-index: -1;
    .thevideo {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      min-height: 50%;
      max-height: 50%;
    }
  }

  svg {
    bottom: 15px;
    left: 10px;
    position: absolute;
  }
}

#grid-section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 800px;
  max-height: 1200px;
  padding: 7vmax;
  background-color: white;
}

.gradient {
  background: -webkit-linear-gradient(125deg, #3023AE, #52B2F4);
	background: linear-gradient(125deg, #3023AE, #52B2F4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

// OVERRIDES //
.mosaic-holder .mosaic-item .meta {
  text-align: left;
  width: 90%;
  height: 90%;
}

.mosaic-holder .mosaic-item .meta:before {
  display: none;
}

.isolayer--deco1 {
  height: 1200px !important;
}

.short-tag {
  display: inline;
}

.projects, .services, .whatif, .contact{
  background-color: white;
}

.content{
  padding: 100px;
}

.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 60px;
}

.item{
  width: 200px;
  height: 200px;
  border: 1px solid #979797;
  border-radius: 2px;
  margin: 0 20px 40px 0;
  background-image: url("../images/whale_logo_blue.png");
  background-repeat: no-repeat;
  background-position: center;
  &:hover{
    background-image: url("../images/gif.gif");
    background-position:left;
    background-size: cover;
  }
}

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  & > div{
    flex: 1 0 30%;
    padding: 10px;
    text-align: center;
    &:first-child{
      flex: 0 1 100%;
    }
  }
  div{
    padding: 50px;
    border: 1px solid $grey;
    ul{
      margin-top: 50px;
      list-style-type: none;
      li{
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}

.whatif{
  background: #fff url("../images/team.png") no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-size: 800px;
  height: 600px;
}

.end{
  h1{
    line-height: 90px;
  }
}

.hover{
  background-color: rgba(251,255,0,0.12);
  padding: 5px;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
}

.contactinfo{
  color: black;
  font-weight: bold;
  a{
    color: black;
  }
}

.footer{
  input[type="text"]{
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 1px solid #3023AE !important;
    color: #3023AE;
    padding-left: 0;
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container{
    width: 970px;
  }
  .card {
    min-height: 400px;
    .playIcon {
      min-height: 400px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card {
    min-height: 300px;
    .playIcon {
      min-height: 300px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    min-height: 400px;
    .video-card {
      left: -50%;
    }
    .playIcon {
      min-height: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    min-height: 400px;
    .video-card {
      left: -50%;
    }
    .playIcon {
      min-height: 400px;
    }
  }
}
