@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';

$grey: #585858;
$body_grey: #F7F7F7;
$body_grey_dark: #F7F7F7;
$lightblue: #80BAFF;
$blue_overlay: #222945;
$header: #2E3653;
$paragraph: rgba(88, 88, 88, 90);

/*#3023AE, #52B2F4*/

body{
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color: $body_grey;
}

h1{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 25px;
  color: $header;
  text-transform: none;
}

h2{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: $header;
  text-transform: none;
}

h3 {
  font-family: 'Helvetica Neue', sans-serif;
  color: $lightblue;
  font-size: 18px;
  margin-bottom: 25px;
}

p {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.7em;
  color: $paragraph;
}

.container {
  width: auto;
}

.text-center{ text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-white { color: white; }
.text-half-white { color: rgba(255,255,255,.5); }
// .home-slider .flexslider .flex-caption .small {
//   font-size: 18pt;
//   text-transform: none;
// }

.gradient {
  background: -webkit-linear-gradient(125deg, #3023AE, #52B2F4);
	background: linear-gradient(125deg, #3023AE, #52B2F4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

#jumbo {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 50vmax;
  width: 100%;
  &:before {
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    background-image: linear-gradient(to top , #3023AE, #52B2F4);
    opacity: .4;
  }
  #jumbo-heading {
    position: absolute;
    width: 100%;
    margin-top: 20vmax;
    h1 {
      font-size: 64px;
    }
    h3 {
      text-transform: none;
      font-size: 18px;
      color: white;
      margin-bottom: 15px;
    }
  }
}

#grid-section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 800px;
  max-height: 1200px;
  background-color: white;
}

#works { margin-top: 0; padding-right: 15px; background-color: $body_grey_dark;}
#grid-section { padding: 7vmax; }
#services { padding: 7vmax; }
#jargon { padding: 7vmax; }
#about { padding: 7vmax; }
#team { padding: 7vmax; }

.home-slider .flexslider .flex-caption .big {
  font-size: 64pt;
  letter-spacing: 0.85px;
  text-transform: none;
}

.big{
  color: white;
}

.card {
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;

  &.small {
    height: 225px;
    min-height: 225px;
  }

  &:hover {
    cursor: pointer;
    .video-card:before {
      opacity: 0;
    }
  }

  .meta {
    font-family: 'Montserrat', sans-serif !important;

    .card-meta {
      height: 15%;
      .card-date {
        display: inline-block;
        font-size: 10px;
        color: #b2b2b2;
        &.date-white {
          color: #FFF;
        }
      }
    }
    .title {
      margin-bottom: 10%;
      font-size: 33px;
      line-height: 30px;
      text-transform: none;
      h2 {
        font-size: 33px;
        line-height: 30px;
        letter-spacing: 0;
        text-transform: none;
      }
    }
    .short-tag {
      display: inline;
      font-size: 13px;
      &.project {
        font-size: 20px;
      }
    }
  }

  .video-card {
    position: absolute;
    margin: auto -1px auto 1px;
    top: -50%;
    left: -70%;
    width: 200%;
    height: 200%;
    z-index: -1;
    &:before {
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      z-index: 200;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $blue_overlay;
      position: absolute;
      top: 0;
      opacity: 0.5;
    }
    .thevideo {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      min-height: 50%;
      max-height: 50%;
    }
  }

  svg {
    bottom: 15px;
    left: 10px;
    position: absolute;
  }

  .image {
    background-size: cover;
    background-position: center;
    height: 325px;
  }
}

.card-no-bg {
  background-color: #FFF;
  &.mosaic-item:before {
      opacity: 0 !important;
  }
  &:hover {
    background-color: rgba(34, 41, 69, 1);
    .gradient {
      -webkit-text-fill-color: #FFF;
      transition: none;
    }
    .card-date {
      color: #FFF !important;
    }
  }
}

.milestone-p {
  margin-top: 15px !important;
}

.framework-links {
  color: black;
  font-weight: bold;
  transition: none;
  &:hover {
    @extend .gradient;
  }
}

// OVERRIDES //
.mosaic-holder { margin-top: -100px; }
.mosaic-holder .mosaic-item { min-height: 325px; }
.mosaic-holder .mosaic-item.small {
  min-height: 225px;
  height: 225px;
}
.mosaic-holder .mosaic-item .meta {
  text-align: left;
  width: 80%;
  height: 90%;
  z-index: 400;
}

.mosaic-holder .mosaic-item .meta:before {
  display: none;
}

.mosaic-holder .mosaic-item:before {
  opacity: 0.5;
}

.isolayer--deco1 {
  height: 1200px !important;
  width: 1000px !important;
  zoom: 0.9;
}

div.isolayer.isolayer--deco1.isolayer--shadow {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: translateX(40vw) translateY(-740px) rotateX(45deg) rotateZ(45deg) !important;
}

.projects, .services, .whatif, .contact{
  background-color: white;
}

.cd-horizontal-timeline {
  margin: 0 auto !important;
}

.icon-arrow {
  background: url('../images/icon_arrow.svg') no-repeat;
  display: block;
  height: auto;
  width: 48px;
}

.content {
  padding: 100px;
}

.companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 60px;
}

.item {
  width: 150px;
  height: 150px;
  border: 1px solid #979797;
  border-radius: 2px;
  margin: 0 20px 40px 0;
  background-image: url("../images/whale_logo_blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  -webkit-filter: grayscale(100%);
  filter: greyscale(100%);
  &:hover {
    background-image: url("../images/gif.gif");
    background-position:left;
    background-size: cover;
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: greyscale(0%);
  }
}

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  & > div{
    flex: 1 0 30%;
    padding: 10px;
    text-align: center;
    &:first-child{
      flex: 0 1 100%;
    }
  }
  div{
    padding: 50px;
    ul{
      margin-top: 50px;
      list-style-type: none;
      li{
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Libre Baskerville', serif;
        line-height: 1.7em;
        color: $paragraph;
      }
    }
  }
}

.table-header{
  border: 1px solid $grey;
}
.table-left{
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
}
.table-center{
  border-right: 1px solid $grey;
}
.table-right{
  border-right: 1px solid $grey;
}
.table-footer{
  border: 1px solid $grey;
}

// ID FIXES

#clients{
  padding: 100px;
  background-color: white;
}

#services {
  background-color: #F7F7F7;
}

#jargon {
  background-color: white;
}

#contact {
    padding: 100px;
    background-image: none;
}

header {
  ul { margin-top: 10px; }
  &.narrow { background-color: rgba(34, 41, 69, 0.9) }
  .top-menu-holder ul li {
    margin: 0 18px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 29px;
    vertical-align: middle;
    font-weight: 500;
  }
}

.whatif{
  background: #fff url("../images/team.png") no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-size: 60vmax;
  height: 35vmax;
}

.end{
  h1{
    line-height: 90px;
  }
}

.mailto{
  background-color: rgba(251,255,0,0.12);
  padding: 5px;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.50 );
  }
}

.contactinfo{
  color: black;
  font-weight: bold;
  a {
    color: black;
    transition: none;
    &:hover {
      background: -webkit-linear-gradient(125deg, #3023AE, #52B2F4);
    	background: linear-gradient(125deg, #3023AE, #52B2F4);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
  }
}

footer{
  margin: 0px;
  padding: 25px 0;
}

.footer{
  h2{
    line-height: 1.5em;
  }
  input[type="text"]{
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 1px solid #3023AE !important;
    color: #3023AE;
    padding-left: 0;
    width: 234px;
    box-shadow: none !important;
  }
  input[type=submit] {
    background: url('../images/icon_arrow.svg') no-repeat;
    background-size: cover;
    border: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }

  div{
    h2{
      margin-bottom: 0px;
    }
  }
}

::-webkit-input-placeholder {
   color: #3023AE;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3023AE;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3023AE;
}

:-ms-input-placeholder {
   color: #3023AE;
}

.white{
  background: white;
}



// Portfolio Page

.content-portfolio{
  padding: 160px;
}

.description { padding-bottom: 100px; }

.tasks{
  font-size: 20px;
}

.quote-text{
  text-align: center;
  margin-bottom: 80px;
}

.right{
  float: right;
}

.contact-portfolio{
  padding-top: 0px;
  .stripe{
    border-bottom: 4px solid $header;
    width:40px;
    margin: 0 auto 25px;
  }
  img{
    float: right;
    width: 100px;
    height: auto;
  }
  p{
    margin: 50px 0 50px 0;
  }
  .contactinfo{
    margin: 10px 0 10px 0;
  }
  h4{
    letter-spacing: normal;
    text-transform: none;
    font-size: 15px;
    color: #151515;
  }
  h4, .contactinfo{
    margin-bottom: 20px;
  }
}


.stats{
   background: linear-gradient(180deg, #F1F7FF 50%, white 50%);
    .row:nth-child(2){
       margin-top: 100px;
     }
    i{
      color: $header;
      margin-bottom: 20px;
    }
}

.keepreading {
  background-color: #F1F7FF;
  i {
    color: $header;
    margin-bottom: 20px;
  }
}


.whitemenu{
  li{
    a{
      color: $header !important;
    }
    .active{
      border-bottom: 3px solid $header;
    }
  }
}

.factitem{
  background: #F7F7F7;
  padding: 20px;
}

.push-below-header {
  margin-top: 74px;
}

#travoltaWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 50%;
  overflow: hidden;
  text-align: center;
  #travolta {
    width: 25%;
  }
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .error-bg::before {
//   background-image: url(http://i.giphy.com/l2Sq5MzQo3krT7e5W.gif);
//   background-size: cover;
//   opacity: 1;
// }

.btn-404-wrap {
  &:hover {
    .btn-404 {
      @extend .gradient;
    }
  }
}

.video-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  z-index: -1;
  pointer-events: none;
  cursor: default;
}

.white-noise {
  &:before {
    content: '';
    display: block;
    background-image: url('../images/white-noise.gif');
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.03;
  }
}

// Readscroll
.read-scroll {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  color: linear-gradient(125deg, #3023AE, #52B2F4);;
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-webkit-progress-value {
    background: linear-gradient(125deg, #3023AE, #52B2F4);
  }
  &::-moz-progress-bar {
    background-color: linear-gradient(125deg, #3023AE, #52B2F4);
  }
}

.eta{
  color: #2E3653;
  font-weight: bold;
  margin-bottom: 20px;
}

.narrow{
  .project{
    .row{
      margin-top: 10px;
    }
  }
}
// End Readscroll

// PROJECTS TEMPLATE


@media only screen and (min-width: 1750px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    min-height: 325px;
    .playIcon {
      min-height: 325px;
    }
  }
  .push-below-header {
    margin-top: 133px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card {
    min-height: 300px;
    .playIcon {
      min-height: 300px;
    }
  }
  .isolayer--deco1 {
    zoom: 0.75;
  }
  .push-below-header {
    margin-top: 133px;
  }
  .card {
    .image {
      height: 300px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    min-height: 400px;
    .video-card {
      left: -50%;
    }
    .playIcon {
      min-height: 400px;
    }
  }
  .isolayer--deco1 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    min-height: 400px;
    .video-card {
      left: -50%;
    }
    .playIcon {
      min-height: 400px;
    }
  }
}

.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
  text-align: center;
  background-color: #f8f8f8;
}

.rb-close {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
  color: black;
}

.rb-close::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

#jumbolist {
  margin-top:0;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  .jumbo-li {
    margin-bottom: 50px !important;
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}
