---
title: Home page
published: true
handle: home
is_layout: false
editable_elements:
  content/sub_heading: A digital product agency for the
  content/heading: Passionately curious
  Clients/clients_heading: Trusted by these organisations.
---
{% extends 'layouts/default' %}

{% block content %}

  <div class="wrapper">
    
    <section id="jumbo" style="background-image: url('{{ 'Carlosthecreator.jpg' | theme_image_url }}');">
      <div class="white-noise"></div>
      <div id="jumbo-heading" class="text-center">
        <h1 class="text-white">The #dankest whales in town!</h1>
      </div>
    </section>

    {% comment %}
      This DIV takes care of the card modals. Do not remove
    {% endcomment %}

    <div id="modalTemp" class="modal"></div>

    <section id="works">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% include 'index-cards' %}
          </div>
        </div>
      </div>
    </section>

    <section id="grid-section">
      <div class="container ">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            {% include 'projects' %}
          </div>
        </div>
      </div>
    </section>

    <section class="organisations" id="clients">
      <div class=" container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% include 'clients' %}
          </div>
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <div class="container">
        {% include 'services' %}
      </div>
    </section>

    <section class="timeline" id="about">
      <div class="container">
        {% include 'timeline' %}
      </div>
    </section>

    <section class="whatif" id="team">
      <div class="container ">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <h1 class="gradient">We believe in the power of what if?</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="end" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">You reached the end!</h3>
            <h1 class="gradient text-center">Feel like <a href="mailto:collab@whale-agency.com" class="mailto">collaborating</a>, starting a new <a href="mailto:hire@whale-agency.com" class="mailto">job</a> with us, or just want to say <a href="mailto:hello@whale-agency.com" class="mailto">hello?</a></h1>
          </div>
        </div>
      </div>
    </section>

    {% include 'footer-contact' %}

  </div>

{% endblock %}
