---
title: Home page
published: true
handle: home
is_layout: false
editable_elements:
  content/sub_heading: A digital product agency for the
  content/heading: Passionately curious
  Clients/clients_heading: Trusted by these organisations.
---
{% extends 'layouts/default' %}

{% block content %}

  <div class="wrapper">

    <section class="home-slider">
      <div class="flexslider homeslider">
        <ul class="slides">
          <li class="slide">
            <div class="image no-bg" data-bg-color="#222945">
            </div>
            <div class="flex-caption">
              <div id="preHeader" class="small">
                {% editable_text "sub_heading", priority: 2, label: "Subheading of the website" %}
                  A digital product agency for the
                {% endeditable_text %}
              </div>
              <h1 class="big">
                {% editable_text "heading", priority: 1, label: "Heading 1 of the website home page" %}
                  Passionately curious
                {% endeditable_text %}
              </h1>
            </div>
          </li>
        </ul>
      </div>
    </section>

    {% comment %}
      This DIV takes care of the card modals. Do not remove
    {% endcomment %}
    <div id="modalTemp" class="modal"></div>

    <section id="works">
      <div class="container zoom-out">
        {% include 'index-cards' %}
      </div>
    </section>

    <section class="content projects" id="grid-section">
      <div class="container zoom-out">
        {% include 'projects' %}
      </div>
    </section>

    <section class="content organisations" id="clients">
      <div class="zoom-out container">
        {% include 'clients' %}
      </div>
    </section>

    <section class="content services" id="services">
      <div class="container zoom-out">
        {% include 'services' %}
      </div>
    </section>


  <section class="content timeline" id="about">
    <div class="container">
      {% include 'timeline' %}
    </div>
  </section>

  <section class="content whatif">
    <div class="container zoom-out">
      <div class="row">
        <div class="col-md-6">
          <h1 class="gradient">We believe in the power of what if?</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content end" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center">You reached the end!</h3>
          <h1 class="gradient text-center">Feel like <a href="mailto:collab@whale-agency.com" class="mailto">collaborating</a>, starting a new <a href="mailto:hire@whale-agency.com" class="mailto">job</a> with us, or just want to say <a href="mailto:hello@whale-agency.com" class="mailto">hello?</a></h1>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer-contact' %}

</div>

{% endblock %}
