---
title: Home page
published: true
handle: home
---
{% extends 'layouts/landing' %}
{% block content %}
    <div class="wrapper">
      <div class="fh landing-wrap">
        <header>
          <div class="container">
            <div class="col-md-8 text-half-white">
              Call us:<a href="tel:+31653607060"> +31 653 607 060</a>
            </div>
            <div class="col-xs-12 col-md-4 logo-holder text-right">
              <div class="logo">
                <a href="#home">
                  <object type="image/svg+xml" data="{{ 'logo.svg' | theme_image_url }}" id="logo">
                    Whale <!-- fallback image in CSS -->
                  </object>
                </a>
              </div>
            </div>
          </div>
        </header>

        <div class="fwl">
          {% include footer %}
        </div>
      </div>
    </div>
  {% endblock %}
