---
title: Home page
published: true
handle: home
is_layout: false
editable_elements:
  content/sub_heading: A digital product agency for the
  content/heading: Passionately curious
  Clients/clients_heading: Trusted by these organisations.
  Jumbotron/jumbo_heading: Passionately curious.
  Jumbotron/jumbotron: "/samples/pages/him.jpg"
  content/Row 2 - Column 1: |-
    <li>SEO</li>
                <li>SEA</li>
                <li>Social</li>
                <li>Campaigns</li>
                <li>Websites</li>
  Services/services_heading: What we do
  Services/services_toprow_heading: Experience design.
  Services/services_toprow_content: Customer Journey Mapping, User Segmentation, Experience
    Design
  content/Middle Row - Column 1: |-
    <li>SEO</li>
                <li>SEA</li>
                <li>Social</li>
                <li>Campaigns</li>
                <li>Websites</li>
  Services/services_midrow_leftcol_heading: Pre-customer experience.
  Services/services_midrow_leftcol_content: "<li>SEO</li>\r\n            <li>SEA</li>\r\n
    \           <li>Social</li>\r\n            <li>Campaigns</li>\r\n            <li>Websites</li>"
  Services/services_midrow_midcol_heading: Customer experience.
  Services/services_midrow_midcol_content: "<li>Websites</li>\r\n            <li>Apps</li>\r\n
    \           <li>Social</li>"
  Services/services_midrow_rightcol_heading: Post-customer experience.
  Services/services_midrow_rightcol_content: "<li>Websites</li>\r\n            <li>Apps</li>\r\n
    \           <li>Social</li>"
  Services/services_bottomrow_heading: Testing &amp; optimizations.
  Services/services_bottomrow_content: Data analysys &amp; insights, A/B Testing &amp;
    frameworks, Custom dashboards.
  What if/whatif_heading: We believe in the power of what if?
  Contact/contact_heading: You reached the end!
  Jumbotron/jumbo_subheading: A digital product agency for the
  Jargon/jargon_heading: Some industry jargon.
  Jargon/jargon_paragraph: "<p>When you hire someone, we think it matter more how
    they work and what they can accomplish for you, than whether or not they've used
    a particular framework.</p>\r\n      <p>But we recognize that sometimes you've
    been told that you gotta find a team that knows [INSERT TECHNOLOGY DU JOUR] or
    it won't work.</p>\r\n      <p>So here are the technologies we're familiar enough
    with to recommend, support, or talk you out of (depending on your project).</p>"
---
{% extends 'layouts/default' %}

{% block content %}

  <div class="wrapper">
    <section id="jumbo" style="background-image: url('{% editable_file 'jumbotron', block: 'Jumbotron' %}/samples/content_entries/Carlosthecreator.jpg{% endeditable_file %}');">
      <div class="white-noise"></div>
      <div id="jumbo-heading" class="text-center">

        <h3>
          {% editable_text "jumbo_subheading", label: "Subheading for the jumbotron", rows: 2, block: "Jumbotron", format: raw %}
            A digital product agency for the
          {% endeditable_text %}
        </h3>

        <h1 class="text-white">
          {% editable_text "jumbo_heading", label: "Jumbotron heading", hint: "Heading for the jumbotron", rows: 1, block: "Jumbotron", format: raw %}
            The Dawn of #Dankness
          {% endeditable_text %}
        </h1>

      </div>
    </section>

    {% comment %}
      This DIV takes care of the card modals. Do not remove
    {% endcomment %}

    <div id="modalTemp" class="modal"></div>

    <section id="works">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% include 'index-cards' %}
          </div>
        </div>
      </div>
    </section>

    <section id="grid-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            {% include 'projects' %}
          </div>
        </div>
      </div>
    </section>

    <section class="organisations" id="clients">
      <div class=" container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% include 'clients' %}
          </div>
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <div class="container">
        {% include 'services' %}
      </div>
    </section>

    <section class="jargon" id="jargon">
      <div class="container">
        {% include 'jargon' %}
      </div>
    </section>

    <section class="timeline" id="about">
      <div class="container">
        {% include 'timeline' %}
      </div>
    </section>

    <section class="whatif" id="team">
      <div class="container ">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <h1 class="gradient">
              {% editable_text "whatif_heading", label: "Whatif heading", hint: "Heading for the 'what if' section", rows: 1, block: "What if", format: raw %}
                We believe in the power of what if?
              {% endeditable_text %}
            </h1>
          </div>
        </div>
      </div>
    </section>

    <section class="end" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">
              {% editable_text "contact_heading", label: "Contact heading", hint: "Heading for the section", rows: 1, block: "Contact", format: raw %}
                You reached the end!
              {% endeditable_text %}
            </h3>
            <h1 class="gradient text-center">Feel like <a href="mailto:collab@whale-agency.com" class="mailto">collaborating</a>, starting a new <a href="mailto:hire@whale-agency.com" class="mailto">job</a> with us, or just want to say <a href="mailto:hello@whale-agency.com" class="mailto">hello?</a></h1>
          </div>
        </div>
      </div>
    </section>

    {% include 'footer-contact' %}

  </div>

{% endblock %}
