---
title: Default layout
slug: default
position: 99
listed: false
published: false
is_layout: true
---
<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    {% include head %}
  </head>
  <body>
    {% include 'header' %}

    {% block content %}
    {% endblock %}

    {% include 'footer' %}
    {% include 'framework' %}

  </body>
</html>
