---
title: Default layout
slug: default
position: 99
listed: false
published: false
is_layout: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head %}
  </head>

  <body>

    <header>
      {% include 'header' %}
    </header>

    {% block content %}
      {% comment %} !!!RENDER CONTENT HERE!!! {% endcomment %}
    {% endblock %}

    <footer>
      {% include 'footer' %}
      {% include 'framework' %}
    </footer>

    {% if page.handle == "home" %}
      <script>
        $(function() {
          Boxgrid.init();
        });
      </script>
    {% endif %}
  </body>
</html>
