---
title: Errorpage layout
slug: errorpage
position: 99
listed: false
published: false
is_layout: false
---
<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    {% include head %}
  </head>
  <body>
    <header>
      {% include 'header_whitepage' %}
    </header>

    {% block content %}
    {% endblock %}

    {% include 'framework' %}

  </body>
</html>
