---
title: Landing layout
slug: landing
position: 98
listed: false
published: false
is_layout: false
---
<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    {% include head %}
  </head>
  <body>

    {% block content %}
    {% endblock %}

    {% include 'framework' %}
  
  </body>
</html>
